In [1]:
from gurobipy import *
# from math import *
# import math
import numpy as np
import pandas as pd
import timeit
from xlwt import Workbook

In [3]:
data1 = pd.read_excel('Group_6.xlsx', sheet_name='Flight')
data2 = pd.read_excel('Group_6.xlsx', sheet_name='Itinerary')
data3 = pd.read_excel('Group_6.xlsx', sheet_name='Recapture Rate')
data4 = pd.read_excel('Group_6.xlsx', sheet_name='Aircraft')

In [4]:
data1

,Flight Number,ORG,DEST,Departure,Arrival,A330,A340,B737,B738
0,AR1132,LIMC,KJFK,23:55:00,11:10:00,19797.633985,24304.697082,1000000.000000,1000000.000000
1,AR1133,KJFK,LIMC,16:10:00,04:20:00,20186.704183,24878.728342,1000000.000000,1000000.000000
2,AR1140,LDZA,LTFM,20:05:00,20:50:00,11225.286689,12235.857049,8753.575914,9021.988449
3,AR1160,LIMC,ZBAA,22:55:00,10:35:00,19976.944094,24569.026366,1000000.000000,1000000.000000
4,AR1161,ZBAA,LIMC,14:20:00,03:00:00,20390.933229,25180.760278,1000000.000000,1000000.000000
...,...,...,...,...,...,...,...,...,...
203,AR1893,BIKF,LIMC,19:05:00,21:31:00,13990.714954,15984.767576,11514.338562,11401.743746
204,AR1910,LIMC,SBGL,21:30:00,01:20:00,15402.914350,17959.826122,13038.003598,12685.016269
205,AR1911,SBGL,LIMC,02:40:00,06:55:00,15756.057036,18459.139309,13429.537738,13012.099800
206,AR1920,LIMC,MMMX,04:10:00,14:50:00,19539.195511,23924.402515,1000000.000000,1000000.000000
207,AR1921,MMMX,LIMC,16:25:00,03:05:00,19539.195511,23924.402515,1000000.000000,1000000.000000

In [5]:
data2

     Itin No. Origin Destination  Demand  Fare  Stops   Leg 1   Leg 2
0           0   CYYZ        LIMC      16   108      0  AR1365       0
1           1   CYYZ        EDDB      16    54      1  AR1365  AR1673
2           2   CYYZ        ZSPD      33    48      1  AR1365  AR1260
3           3   CYVR        LIMC      20   107      0  AR1255       0
4           4   CYVR        EDDB      20    51      1  AR1255  AR1673
..        ...    ...         ...     ...   ...    ...     ...     ...
551       551   LIMC        ZBAA      60   109      0  AR1160       0
552       552   LIMC        OMDB      67   105      0  AR1302       0
553       553   LIMC        EDDF      30    53      0  AR1304       0
554       554   LIMC        EDDB      16    53      0  AR1667       0
555       555   LIMC        KJFK      54    92      0  AR1132       0

[556 rows x 8 columns]

In [6]:
data3

     From Itinerary  To Itinerary  Recapture Rate
0                54            58            0.39
1                56            59            0.35
2                58            54            0.35
3                59            56            0.34
4                63            66            0.38
..              ...           ...             ...
163             513           418            0.15
164             515           464            0.18
165             516           444            0.19
166             523           451            0.11
167             547           535            0.37

[168 rows x 3 columns]

In [7]:
data4

   Type  Units  Seats  TAT
0  A330      4    210   50
1  A340      2    220   60
2  B737      8    120   35
3  B738     29    140   35

In [8]:
airports = ['LIMC',
'KJFK',
'LDZA',
'ZBAA',
'FACT',
'CYVR',
'ZSPD',
'OMDB',
'EDDF',
'VIDP',
'SAEZ',
'CYYZ',
'EBBR',
'LTFM',
'EETN',
'LFPG',
'LPPT',
'EIDW',
'RJAA',
'LKPR',
'LIMF',
'ESSA',
'EDDB',
'EHEH',
'LFQQ',
'EFHK',
'LEMD',
'BIKF',
'EDDM',
'EFRO',
'LGAV',
'SBGL',
'MMMX']

flight_no = data1['Flight Number'].tolist()    # Flights list
origin_airport = data1['ORG'].tolist()
destination_airport = data1['DEST'].tolist()

itinerary = data2['Itin No.'].tolist()
demand = data2['Demand'].tolist()       # Daily unconstrained demand
fare = data2['Fare'].tolist()
leg1 = data2['Leg 1'].tolist()
leg2 = data2['Leg 2'].tolist()
stops = data2['Stops'].tolist()    # Ground arcs ?

from_itinerary = data3['From Itinerary'].tolist()
to_itinerary = data3['To Itinerary'].tolist()
recapture_rate = data3['Recapture Rate'].tolist()       # Recapture rate of pax

ac_type = data4['Type'].tolist()     # Type of aircraft: A330, A340, B737, B738
seats = data4['Seats'].tolist()
AC_units = data4['Units'].tolist()     # No of AC for each type

fare_fictious = 0
b_p_r_fictious = 1

In [9]:
# inbound = []
# for s in range(len(stops)):
#     if stops[s] == 1:
#         inbound.append(leg1[s])

# outbound1 = []
# for s in range(len(stops)):
#     if stops[s] == 0:
#         outbound1.append(leg1[s])

# outbound2 = []
# for s in range(len(stops)):
#     if stops[s] == 1:
#         outbound2.append(leg2[s])

# outbound = outbound1 + outbound2

In [10]:
outbound = []
for o in range(len(origin_airport)):
    # for k in range(len(ac_type)):
    outbound.append(leg1[o])

inbound = []
for o in range(len(destination_airport)):
    # for k in range(len(ac_type)):
    inbound.append(leg2[o])

In [11]:
range(len(outbound))

range(0, 208)

In [12]:
inbound

[0,
 'AR1673',
 'AR1260',
 0,
 'AR1673',
 'AR1260',
 0,
 'AR1832',
 'AR1471',
 'AR1292',
 'AR1822',
 'AR1240',
 'AR1651',
 0,
 'AR1673',
 'AR1260',
 0,
 'AR1406',
 'AR1471',
 'AR1292',
 'AR1822',
 'AR1240',
 'AR1507',
 'AR1651',
 'AR1600',
 'AR1737',
 0,
 'AR1691',
 'AR1722',
 'AR1376',
 'AR1322',
 'AR1852',
 0,
 'AR1832',
 'AR1406',
 'AR1471',
 'AR1292',
 'AR1822',
 'AR1240',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'AR1412',
 'AR1446',
 'AR1671',
 'AR1454',
 'AR1816',
 0,
 'AR1651',
 'AR1737',
 'AR1402',
 'AR1830',
 'AR1653',
 'AR1412',
 'AR1446',
 0,
 0,
 'AR1402',
 'AR1830',
 'AR1501',
 'AR1412',
 'AR1446',
 'AR1671',
 0,
 0,
 'AR1501',
 'AR1653',
 'AR1412',
 'AR1671',
 0,
 0,
 0,
 0,
 0,
 'AR1653',
 'AR1412',
 'AR1446',
 'AR1671',
 'AR1454',
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 'AR1454',
 'AR1473',
 'AR1647',
 'AR1252',
 0,
 0,
 'AR1473',
 0,
 0,
 0,
 0,
 0,
 0,
 'AR1454',
 'AR1816',
 'AR1473',
 'AR1647',
 'AR1252',
 'AR1684',
 0,
 'AR1816',
 'AR1473',
 'AR1647',
 'AR1252',
 'AR1684',
 'AR1643',
 'AR1677',
 'AR1460',
 'AR1755',
 'AR1679',
 0,
 0,
 'AR1816',
 'AR1647',
 'AR1252',
 'AR1684',
 'AR1659',
 'AR1643',
 'AR1677',
 'AR1460',
 'AR1755',
 0,
 0,
 'AR1473',
 'AR1252',
 0,
 0,
 0,
 'AR1677',
 'AR1460',
 'AR1755',
 'AR1679',
 'AR1434',
 'AR1751',
 'AR1456',
 'AR1477',
 'AR1422',
 'AR1683',
 0,
 'AR1473',
 'AR1252',
 'AR1460',
 0,
 'AR1643',
 'AR1677',
 'AR1755',
 'AR1679',
 'AR1434',
 'AR1844',
 'AR1751',
 0,
 'AR1473',
 'AR1252',
 'AR1460',
 0,
 'AR1677',
 'AR1460',
 'AR1679',
 'AR1434',
 0,
 'AR1643',
 'AR1677',
 'AR1460',
 'AR1755',
 'AR1679',
 'AR1434',
 'AR1751',
 'AR1872',
 0,
 0,
 0,
 'AR1684',
 'AR1677',
 'AR1460',
 'AR1755',
 'AR1679',
 'AR1434',
 'AR1844',
 'AR1751',
 0,
 0,
 0,
 'AR1477',
 0,
 'AR1460',
 'AR1434',
 'AR1456',
 'AR1477',
 0,
 'AR1872',
 'AR1456',
 'AR1477']

In [13]:
delta_leg1 = np.zeros([len(flight_no), len(itinerary)])
for i in range(len(flight_no)):
    for p in range(len(itinerary)):
        if flight_no[i] == leg1[p]: 
            delta_leg1[i, p] = 1

delta_leg2 = np.zeros([len(flight_no), len(itinerary)])
for i in range(len(flight_no)):
    for p in range(len(itinerary)):
        if flight_no[i] == leg2[p]: 
            delta_leg2[i, p] = 1        

delta = delta_leg1 + delta_leg2

# csv_file_path = 'delta.csv'

# # Save 'delta' array to a CSV file
# np.savetxt(csv_file_path, delta, delimiter=',', fmt='%d')

In [14]:
delta_leg1

array([[0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [15]:
delta_leg2

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [16]:
# costs = {}
# for i, flight in enumerate(flight_no):
#     for k , aircraft in enumerate(ac_type):
#         costs[i][k] = [flight][aircraft]

In [17]:
# costs = {}
# for i, flight in enumerate(flight_no):
#     costs[i] = {}
#     for k, aircraft in enumerate(ac_type):
#         costs[i][aircraft] = data1.at[i, aircraft]  # Replace your_data_frame with your DataFrame name

In [18]:
# # Define the costs matrix
# costs = []
# for i in range(len(flight_no)):
#     costs.append([data1.at[i, ac] for ac in ac_type])


# # Displaying the costs matrix
# for row in costs:
#     print(row)

In [19]:
costs = [[data1.at[i, ac] for ac in ac_type] for i in range(len(flight_no))]

In [20]:
# # Get unique flight legs and convert them to strings conditionally
# flight_legs = set(map(str, data2['Leg 1'])).union({str(x) for x in data2['Leg 2'] if not isinstance(x, int)})

# # Create a matrix (DataFrame) to display 1 if a flight leg is part of the itinerary and 0 otherwise
# delta = pd.DataFrame(
#     np.zeros((len(data2), len(flight_legs))),
#     columns=sorted(flight_legs),
#     index=data2['Itin No.']
# )

# for index, row in data2.iterrows():
#     if not isinstance(row['Leg 2'], int):
#         matrix.loc[row['Itin No.'], str(row['Leg 2'])] = 1
#     matrix.loc[row['Itin No.'], str(row['Leg 1'])] = 1

# print(matrix)

In [21]:
print(costs)

[[19797.63398491833, 24304.69708224594, 1000000.0, 1000000.0], [20186.70418251475, 24878.72834226834, 1000000.0, 1000000.0], [11225.28668868037, 12235.8570492468, 8753.575914428899, 9021.9884493102], [19976.94409424513, 24569.02636573759, 1000000.0, 1000000.0], [20390.9332290603, 25180.76027820611, 1000000.0, 1000000.0], [13769.20743966, 15678.33337062094, 11281.78538034747, 11204.26644645922], [13971.03580454209, 15957.50464624136, 11493.60456414206, 11384.15579240081], [13769.20743966, 15678.33337062094, 11281.78538034747, 11204.26644645922], [13971.03580454209, 15957.50464624136, 11493.60456414206, 11384.15579240081], [13971.03580454209, 15957.50464624136, 11493.60456414206, 11384.15579240081], [14438.84009394555, 16607.5832142374, 11990.29097595565, 11804.50590386202], [13971.03580454209, 15957.50464624136, 11493.60456414206, 11384.15579240081], [14349.04677402738, 16482.48390191806, 11894.34371745166, 11723.45996697625], [13971.03580454209, 15957.50464624136, 11493.60456414206, 11384.15579240081], [14438.84009394555, 16607.5832142374, 11990.29097595565, 11804.50590386202], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [14068.56706835674, 16092.69490876691, 11596.50307423761, 11471.40565375829], [14526.93275996655, 16730.45769674327, 12084.698351841, 11884.18076507653], [19348.91765374098, 23644.9281607752, 1000000.0, 1000000.0], [18787.84474681594, 22823.4721537797, 1000000.0, 1000000.0], [18039.49653858192, 21734.15594197142, 1000000.0, 1000000.0], [18313.15835869841, 22131.64683785575, 1000000.0, 1000000.0], [18401.95180220854, 22260.83305988822, 1000000.0, 1000000.0], [18131.97293835411, 21868.36444554142, 1000000.0, 1000000.0], [16753.77952259959, 19880.59423693609, 1000000.0, 13948.57556245385], [16520.30166929646, 19546.57876274314, 14290.39307090117, 13727.8383653278], [14164.00737542587, 16225.16340970534, 11697.53186156212, 11556.9844904548], [14049.23178904206, 16065.8792924247, 11576.07605494219, 11454.09219224626], [15823.9521426512, 18555.37157460379, 13505.27425110714, 13075.25374995241], [15101.97281401014, 17535.97116344555, 12707.57161381932, 12408.17103308309], [17352.36561495441, 20740.62294090261, 1000000.0, 1000000.0], [17403.98867341719, 20815.0359404205, 1000000.0, 1000000.0], [11620.03041271259, 12759.77112172548, 9127.206904294828, 9349.282670166369], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [11970.46634003091, 13228.30484041303, 9465.04096321857, 9643.595505034813], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [12003.52719160543, 13272.66724366792, 9497.201837448385, 9671.53760016906], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [12003.52719160543, 13272.66724366792, 9497.201837448385, 9671.53760016906], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [12003.52719160543, 13272.66724366792, 9497.201837448385, 9671.53760016906], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [12003.52719160543, 13272.66724366792, 9497.201837448385, 9671.53760016906], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [12003.52719160543, 13272.66724366792, 9497.201837448385, 9671.53760016906], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [12660.68134008345, 14159.91286672623, 10146.40252925839, 10232.97015043472], [11869.25526970764, 13092.66506150341, 9366.89168503191, 9558.241369031783], [12660.68134008345, 14159.91286672623, 10146.40252925839, 10232.97015043472], [11869.25526970764, 13092.66506150341, 9366.89168503191, 9558.241369031783], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [12287.38623422546, 13654.66019476348, 9775.331466720872, 9912.660552270994], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [12714.8568053113, 14233.50462550835, 10200.74385724445, 10279.75090492775], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [12714.8568053113, 14233.50462550835, 10200.74385724445, 10279.75090492775], [12974.61023517276, 14587.26065068764, 10462.97247980834, 10505.06030133667], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [12714.8568053113, 14233.50462550835, 10200.74385724445, 10279.75090492775], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [12287.38623422546, 13654.66019476348, 9775.331466720872, 9912.660552270994], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [12132.6083137408, 13446.13117498689, 9623.236629957932, 9780.9174383928], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [12287.38623422546, 13654.66019476348, 9775.331466720872, 9912.660552270994], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [12287.38623422546, 13654.66019476348, 9775.331466720872, 9912.660552270994], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [12287.38623422546, 13654.66019476348, 9775.331466720872, 9912.660552270994], [11006.18156146753, 11946.9107212205, 8549.483503617204, 8842.34585961804], [11349.23026011232, 12399.90358775298, 8870.080583665374, 9124.257128852703], [11006.18156146753, 11946.9107212205, 8549.483503617204, 8842.34585961804], [11225.28668868037, 12235.8570492468, 8753.575914428899, 9021.9884493102], [11545.06394733528, 12659.95233210367, 9055.676355573909, 9286.774120715738], [11225.28668868037, 12235.8570492468, 8753.575914428899, 9021.9884493102], [11349.23026011232, 12399.90358775298, 8870.080583665374, 9124.257128852703], [11225.28668868037, 12235.8570492468, 8753.575914428899, 9021.9884493102], [11545.06394733528, 12659.95233210367, 9055.676355573909, 9286.774120715738], [11095.84864362041, 12064.99504775673, 8632.715930052565, 8915.683998207815], [11429.08509912381, 12505.81874482438, 8945.538502110556, 9190.390240276338], [11051.37052962429, 12006.39214932172, 8591.378881080986, 8879.274324356225], [11389.42252481726, 12453.19082580434, 8908.021303567293, 9157.519399830286], [11545.06394733528, 12659.95233210367, 9055.676355573909, 9286.774120715738], [11225.28668868037, 12235.8570492468, 8753.575914428899, 9021.9884493102], [11429.08509912381, 12505.81874482438, 8945.538502110556, 9190.390240276338], [10216.4906544801, 10917.40880645428, 7834.71181146596, 8207.77346378689], [11545.06394733528, 12659.95233210367, 9055.676355573909, 9286.774120715738], [11225.28668868037, 12235.8570492468, 8753.575914428899, 9021.9884493102], [16074.47841011319, 18911.100550591, 13785.99851684263, 13309.02281110185], [15957.23803353039, 18744.50288997563, 13654.37976519675, 13199.48076951687], [11006.18156146753, 11946.9107212205, 8549.483503617204, 8842.34585961804], [11429.08509912381, 12505.81874482438, 8945.538502110556, 9190.390240276338], [11182.78148016645, 12179.69699947439, 8713.795733927363, 8987.023361457965], [11429.08509912381, 12505.81874482438, 8945.538502110556, 9190.390240276338], [11182.78148016645, 12179.69699947439, 8713.795733927363, 8987.023361457965], [11429.08509912381, 12505.81874482438, 8945.538502110556, 9190.390240276338], [11182.78148016645, 12179.69699947439, 8713.795733927363, 8987.023361457965], [12549.8801694007, 14009.60818578573, 10035.64425315567, 10137.52325060145], [12036.26402561672, 13316.62149943266, 9529.095805027287, 9699.235207329037], [12549.8801694007, 14009.60818578573, 10035.64425315567, 10137.52325060145], [12036.26402561672, 13316.62149943266, 9529.095805027287, 9699.235207329037], [12549.8801694007, 14009.60818578573, 10035.64425315567, 10137.52325060145], [12036.26402561672, 13316.62149943266, 9529.095805027287, 9699.235207329037], [12549.8801694007, 14009.60818578573, 10035.64425315567, 10137.52325060145], [12036.26402561672, 13316.62149943266, 9529.095805027287, 9699.235207329037], [12549.8801694007, 14009.60818578573, 10035.64425315567, 10137.52325060145], [12036.26402561672, 13316.62149943266, 9529.095805027287, 9699.235207329037], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [13217.98161384414, 14920.038170273, 10711.1388305723, 10717.64686153347], [12660.68134008345, 14159.91286672623, 10146.40252925839, 10232.97015043472], [12549.8801694007, 14009.60818578573, 10035.64425315567, 10137.52325060145], [12036.26402561672, 13316.62149943266, 9529.095805027287, 9699.235207329037], [13217.98161384414, 14920.038170273, 10711.1388305723, 10717.64686153347], [12794.67185081822, 14342.04507339891, 10281.02493658596, 10348.80507400876], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [12660.68134008345, 14159.91286672623, 10146.40252925839, 10232.97015043472], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [12714.8568053113, 14233.50462550835, 10200.74385724445, 10279.75090492775], [13217.98161384414, 14920.038170273, 10711.1388305723, 10717.64686153347], [12794.67185081822, 14342.04507339891, 10281.02493658596, 10348.80507400876], [13217.98161384414, 14920.038170273, 10711.1388305723, 10717.64686153347], [12660.68134008345, 14159.91286672623, 10146.40252925839, 10232.97015043472], [13217.98161384414, 14920.038170273, 10711.1388305723, 10717.64686153347], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [12660.68134008345, 14159.91286672623, 10146.40252925839, 10232.97015043472], [13217.98161384414, 14920.038170273, 10711.1388305723, 10717.64686153347], [12660.68134008345, 14159.91286672623, 10146.40252925839, 10232.97015043472], [13217.98161384414, 14920.038170273, 10711.1388305723, 10717.64686153347], [12794.67185081822, 14342.04507339891, 10281.02493658596, 10348.80507400876], [12846.95623943302, 14413.22346436364, 10333.75686147994, 10394.12596125701], [12287.38623422546, 13654.66019476348, 9775.331466720872, 9912.660552270994], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [12714.8568053113, 14233.50462550835, 10200.74385724445, 10279.75090492775], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [12287.38623422546, 13654.66019476348, 9775.331466720872, 9912.660552270994], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [12287.38623422546, 13654.66019476348, 9775.331466720872, 9912.660552270994], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [11800.0, 13000.0, 9300.0, 9500.0], [11970.46634003091, 13228.30484041303, 9465.04096321857, 9643.595505034813], [11800.0, 13000.0, 9300.0, 9500.0], [11970.46634003091, 13228.30484041303, 9465.04096321857, 9643.595505034813], [11693.2452148155, 12857.3995023768, 9197.320658973527, 9410.48629576588], [11620.03041271259, 12759.77112172548, 9127.206904294828, 9349.282670166369], [11800.0, 13000.0, 9300.0, 9500.0], [11970.46634003091, 13228.30484041303, 9465.04096321857, 9643.595505034813], [11693.2452148155, 12857.3995023768, 9197.320658973527, 9410.48629576588], [11620.03041271259, 12759.77112172548, 9127.206904294828, 9349.282670166369], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [15101.97281401014, 17535.97116344555, 12707.57161381932, 12408.17103308309], [13288.17125120295, 15016.24691929827, 10783.14806785368, 10779.21966002767], [10216.4906544801, 10917.40880645428, 7834.71181146596, 8207.77346378689], [14944.47572211299, 17314.76839464524, 12535.84838031046, 12263.99360148164], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [12577.89656198255, 14047.5867036687, 10063.60108379179, 10161.62788156483], [14349.04677402738, 16482.48390191806, 11894.34371745166, 11723.45996697625], [12287.38623422546, 13654.66019476348, 9775.331466720872, 9912.660552270994], [16239.5627901998, 19146.05225180904, 13972.05677303413, 13463.69108956383], [12974.61023517276, 14587.26065068764, 10462.97247980834, 10505.06030133667], [16520.30166929646, 19546.57876274314, 14290.39307090117, 13727.8383653278], [14349.04677402738, 16482.48390191806, 11894.34371745166, 11723.45996697625], [13891.42479882133, 15847.29057874053, 11409.87203549169, 11313.09122426037], [13264.91076700226, 14984.35236913395, 10759.26312005668, 10758.80190904182], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [13264.91076700226, 14984.35236913395, 10759.26312005668, 10758.80190904182], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [13264.91076700226, 14984.35236913395, 10759.26312005668, 10758.80190904182], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [13264.91076700226, 14984.35236913395, 10759.26312005668, 10758.80190904182], [13098.17994894025, 14756.06703215216, 10588.68124472927, 10612.82206398645], [15756.05703560259, 18459.13930942188, 13429.53773782059, 13012.0998002059], [14068.56706835674, 16092.69490876691, 11596.50307423761, 11471.40565375829], [14613.40422760044, 16851.20883267514, 12177.63352541493, 11962.54595167391], [14294.31902271341, 16406.31117167683, 11836.00610553098, 11674.14694762532], [14613.40422760044, 16851.20883267514, 12177.63352541493, 11962.54595167391], [14294.31902271341, 16406.31117167683, 11836.00610553098, 11674.14694762532], [14330.87659368368, 16457.1875687725, 11874.96315892893, 11707.0805120552], [14068.56706835674, 16092.69490876691, 11596.50307423761, 11471.40565375829], [14613.40422760044, 16851.20883267514, 12177.63352541493, 11962.54595167391], [14491.89455042873, 16681.56821674581, 12047.11574401635, 11852.47131734378], [10216.4906544801, 10917.40880645428, 7834.71181146596, 8207.77346378689], [12714.8568053113, 14233.50462550835, 10200.74385724445, 10279.75090492775], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [12714.8568053113, 14233.50462550835, 10200.74385724445, 10279.75090492775], [12435.59403692204, 13854.8712631936, 9921.945407977615, 10039.40213416547], [14349.04677402738, 16482.48390191806, 11894.34371745166, 11723.45996697625], [15970.38900686573, 18763.17942576174, 13669.12206291697, 13211.75567808798], [14349.04677402738, 16482.48390191806, 11894.34371745166, 11723.45996697625], [13891.42479882133, 15847.29057874053, 11409.87203549169, 11313.09122426037], [11225.28668868037, 12235.8570492468, 8753.575914428899, 9021.9884493102], [13891.42479882133, 15847.29057874053, 11409.87203549169, 11313.09122426037], [14613.40422760044, 16851.20883267514, 12177.63352541493, 11962.54595167391], [14491.89455042873, 16681.56821674581, 12047.11574401635, 11852.47131734378], [15254.66729918394, 17750.83786126223, 12874.85360582586, 12548.41901814613], [14068.56706835674, 16092.69490876691, 11596.50307423761, 11471.40565375829], [14613.40422760044, 16851.20883267514, 12177.63352541493, 11962.54595167391], [14491.89455042873, 16681.56821674581, 12047.11574401635, 11852.47131734378], [14438.84009394555, 16607.5832142374, 11990.29097595565, 11804.50590386202], [13990.7149541854, 15984.76757629617, 11514.33856190023, 11401.74374566112], [15402.91435043369, 17959.82612172375, 13038.00359817694, 12685.01626858536], [15756.05703560259, 18459.13930942188, 13429.53773782059, 13012.0998002059], [19539.19551055278, 23924.40251546406, 1000000.0, 1000000.0], [19539.19551055278, 23924.40251546406, 1000000.0, 1000000.0]]

In [22]:
# a330_costs  = data1['A330'].tolist()
# a340_costs  = data1['A340'].tolist()
# b737_costs  = data1['B737'].tolist()
# b738_costs  = data1['B738'].tolist()

# keys = ['A330', 'A340', 'B737', 'B738']
# values = [a330_costs, a340_costs, b737_costs, b738_costs]
# op_costs = dict(zip(keys, values))p
# print(op_costs)

In [28]:
Q = np.zeros(len(flight_no))
for i in range(len(flight_no)):
    Q[i] = sum(delta[i, p] * demand[p] for p in range(len(itinerary)))

In [24]:
Q

array([ 73., 263.,  15.,  88.,  71., 242., 345., 478., 261., 200., 329.,
        91.,  72., 257., 114., 210., 175., 157., 162., 112., 241.,  99.,
       259.,  40., 112., 159., 100.,  56.,  76.,  26.,  27., 107.,  65.,
        72.,  60.,  21.,  97., 115.,  55., 140., 202.,  35., 153.,  96.,
       162., 111., 108., 137.,  61.,  73., 148., 108.,  27., 300., 232.,
       130., 125., 163., 185., 144., 190., 185., 215., 236., 202., 146.,
       331., 204., 324., 355., 158., 328., 351.,  57.,  52.,  31.,  61.,
        39.,  48.,  25.,  20.,  51.,  36.,  22.,  19.,  20.,  53.,  65.,
        26.,  11.,  52.,  69.,  13.,  16.,  26.,  40.,  67.,  55.,  64.,
        68.,  43., 102., 150., 105., 116., 129., 103., 119.,  88., 159.,
        34.,  21.,  20.,  22.,  69.,  55., 133., 126.,  77., 122.,  86.,
       109.,  39.,  87., 117.,  86.,  27., 102.,  82., 114., 125.,  30.,
        49.,  67.,  51.,   9.,  18.,  12.,   9.,  25.,  14.,  11.,  25.,
        65.,  78.,  87., 149., 104., 125.,  96.,  39., 141.,  28.,  10.,
        10.,  16.,  12.,  12.,  24.,  77.,  61.,  37.,  26.,  62.,   8.,
        17.,  60., 150., 155.,  61., 220., 251.,  63., 171., 146.,   8.,
         9.,  36.,  37.,  25.,  46.,  34., 146.,  16.,  15.,  13.,  21.,
        65.,  65.,  25.,  15.,  15.,  58.,  56.,  10.,  39.,   8.,  16.,
        64., 126.,  21.,  13.,  15.,  42., 145., 120.,  21.,  39.])

## Optimization model

In [25]:
m = Model('model')

# Decision variables
f = {} # direct pax flow from airport i to airport j
t = {} # number of px that would like to travel on itinerary p and are rellocated by the airline to itinerary r 
y = {} # number of aircraft of type k on the ground/flight arc a/n (integer)

Set parameter WLSAccessID
Set parameter WLSSecret
Set parameter LicenseID to value 2447081
Academic license 2447081 - for non-commercial use only - registered to yf___@tudelft.net

In [26]:
L = range(len(flight_no))
P = range(len(itinerary))
N = range(len(airports))
K = range(len(ac_type))
I = range(len(inbound))
O = range(len(outbound))
N_plus = range(len(origin_airport))
N_minus = range(len(destination_airport))

In [30]:
A = [(i, k) for i in L for k in K]
B = [(p, r) for p in P for r in P]
C = [(i, k) for i in L for k in K]

f = m.addVars(L, K, vtype=GRB.BINARY, name="f")
y = m.addVars(G, K, vtype=GRB.INTEGER, name="y")
t = m.addVars(P, P, vtype=GRB.INTEGER, name="t")

objective = quicksum(c_ki[i][k] * f[i,k] for i in L for k in K) + \
            quicksum((fare_p[p] - b_rp[r][p] * fare_r[r]) * t[p,r] for p in P for r in P)
m.setObjective(objective, GRB.MINIMIZE)


m.update()
m.setObjective(m.getObjective(), GRB.MINIMIZE)  


# Flight Schedule Coverage
for i in L:
    m.addConstr(quicksum(f[i, k] for k in K) == 1)

# Balance at Each Node
for k in K:
    for n in N:
        m.addConstr(quicksum(f[i,k] for i in O[k,n]) - quicksum(f[i,k] for i in I[k,n]) == y[n,k] - y[n,k])

# Number of Aircraft Available
for k in K:
    m.addConstr(quicksum(y[a,k] + f[a,k] for a in NG[k]) <= AC[k])

# Seat Capacity and Demand
for i in L:
    m.addConstr(quicksum(SEATS[k] * f[i,k] for k in K) + quicksum(t[p,r] for p in P for r in P if delta[i][p][r]) >= Q[i])


m.update()

m.setParam('OutputFlag', 1)

m.optimize()

for v in m.getVars():
    if v.x > 0:
        print(f'{v.varName} = {v.x}')
# m.write("testout.sol")
status = m.status

TypeError: 'range' object is not callable

In [20]:
for c in m.getConstrs():
    print ('The dual value of %s : %g'%(c.constrName,c.pi))

AttributeError: Unable to retrieve attribute 'pi'

In [23]:
# Access solver logs to retrieve dual values
if m.status == GRB.OPTIMAL:
    # Retrieve solver logs
    solver_logs = m.getAttr('X', m.getVars())

    # Extract dual values from solver logs
    dual_values = {}
    for log in solver_logs:
        if 'RHS' in log:
            dual_values[log] = solver_logs[log]
    
    # Print or access the dual values for each constraint
    for constraint, dual in dual_values.items():
        print(f"Dual value for constraint {constraint}: {dual}")
else:
    print("Optimization was not successful. Check the status before retrieving dual values.")

TypeError: argument of type 'float' is not iterable